.header {
  background-color: rgb(38, 45, 48);
  height: 60px;
  transition: color .25s;
  position: relative;
  z-index: 100;

  &_wrapper {
    padding: 0 20px;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 100%;
  }
}
