$GeneralFontFamily: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
$GothamFontFamily: 'GothamPro';

$BodyBackground:    rgb(255, 255, 255);

$link:              rgb(0, 144, 197);
$link-hover:        #CC0000;
$link-visited:      #B40EB4;

$SelectBackground:  #ffab00;
$SelectColor:       rgb(255, 255, 255);

$PlaceholderColor:  rgba(255, 255, 255, .5);

$sm: "only screen and (min-width: 48em)";
$md: "only screen and (min-width: 64em)";
$lg: "only screen and (min-width: 75em)";
