button[disabled=disabled],
button:disabled,
.btn:disabled,
.btn.disabled {
  cursor: not-allowed;
  //pointer-events: none;
  color: rgb(173, 177, 185);
  background-color: rgb(247, 247, 248);
  border-color: rgb(214, 218, 221);
}

.btn {
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 2px;
  padding: 13px 26px 12px 26px;
  color: rgb(255, 255, 255);
  font-family: Arial;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  white-space: nowrap;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition: all .2s ease;
  vertical-align: middle;
  position: relative;
  overflow: hidden;

  &-white {
    background-color: rgb(255, 255, 255);
    color: rgb(38, 45, 48);

    &:hover,
    &.hover {
      background-color: rgb(49, 197, 9);
      border-color: transparent;
      color: #fff;
    }

    &:focus,
    &.focus {
      background-color: rgb(30, 155, 0);
      border-color: rgb(30, 155, 0);
    }

    &[disabled=disabled],
    &:disabled,
    &:disabled,
    &.disabled {
      color: rgb(255, 255, 255);
      background-color: rgb(214, 217, 220);
      border-color: rgb(214, 217, 220);
    }
  }

  &-mini {
    padding: 9px 20px 8px 19px;
  }

  &-large {
    padding-left: 60px;
    padding-right: 60px;
    min-width: 240px;
  }
}
