*::placeholder {
  color: $PlaceholderColor;
  opacity: 1;
}

*::placeholder-shown {
  color: $PlaceholderColor;
}

::selection {
  background: $SelectBackground;
  color: $SelectColor;
}

input,
textarea,
button {
  outline: none;
  font-family: $GeneralFontFamily;
}

input[placeholder],
input:placeholder {
  text-overflow: ellipsis;
}

.form-inline {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.form-group {
  margin-right: 40px;
  position: relative;

  &--error {
    position: relative;

    .form-control {
      border-color: rgb(252, 47, 47);
      color: rgb(252, 47, 47);

      &:focus {
        border-color: rgb(252, 47, 47);
      }
    }
  }
}

.form-control {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, .5);
  border-radius: 2px;
  background-image: none;
  height: 40px;
  display: block;
  width: 100%;
  min-width: 240px;
  color: rgb(255, 255, 255);
  font-family: Arial;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  padding: 9px 14px 9px 18px;
  -webkit-padding-start: 18px; /* sass-lint:disable-line no-vendor-prefixes */
  box-sizing: border-box;
  vertical-align: middle;
  //transition: border-color ease-in-out .15s;

  &:disabled,
  &[readonly] {
    color: rgb(46, 49, 51);
    background-color: rgb(242, 246, 247);
    border-color: rgb(214, 218, 221);
    cursor: not-allowed;
  }

  &:hover {
    border-color: rgb(255, 255, 255);
  }

  &:focus,
  &.focus {
    border-color: rgb(255, 255, 255);
  }
}

.form-control-label {
  color: rgb(156, 162, 166);
  font-family: Arial;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 6px;
}


.bubble {
  position: absolute;
  background-color: #fff;
  border: 1px solid #d6dadd;
  border-radius: 3px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  min-width: 140px;
  min-height: 80px;
  left: calc(100% + 15px);
  top: 0;
  z-index: 100;

  &.big {
    min-width: 290px;
    min-height: 130px;
  }

  &__text {
    color: #83868b;
    font-family: Arial;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    padding: 14px 15px 15px 15px;
  }

  &__actions {
    margin-top: 13px;
  }

  &-right {

    &:before,
    &:after {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 7px 5px 7px 0;
      top: 17px;
      margin-top: -4px;
    }

    &:before {
      border-color: transparent #d6dadd transparent transparent;
      left: -6px;
    }

    &:after {

      border-color: transparent #fff transparent transparent;
      left: -5px;
    }
  }
}
