<div class="landing _landing emerge" style="background-image: url('assets/images/copter-bg.png');" data-spin="true" data-spin-color="#eee">
  <div class="landing_bg"></div><!-- /.landing_bg -->
  <div class="landing_wrapper">

    <div class="landing-form">
      <div class="landing-form_header">
        <h1>Розыгрыш призов от Webartex</h1>
        <p class="text">Cостоится в 19:30 на сцене секции SEO</p>
      </div>
      <form class="form-inline">

        <div class="form-group">
          <label for="" class="form-control-label hide">Ваше имя</label>
          <input type="text" id="" class="form-control" placeholder="Представьтесь, пожалуйста?" autofocus="">
        </div><!-- /.form-group -->

        <div class="form-group">
          <label for="" class="form-control-label hide">Ваш email</label>
          <input type="text" id="" class="form-control" placeholder="Ваш email" autofocus="">
        </div><!-- /.form-group -->

        <div class="form-actions">
          <button class="btn btn-white btn-large" id="submit">Принять участие</button>
        </div><!-- /.form-actions -->

      </form>
    </div><!-- /.landing-form -->

    <div class="awards-list">
      <div class="award-type">
        <div class="award-type_box">
          <div class="award-type_level">1 место</div><!-- /.award-type_level -->
          <div class="award-type_name">Квадрокоптер</div><!-- /.award-type_name -->
          <div class="award-type_info">DJI SPARK, Alpine White</div><!-- /.award-type_info -->
        </div><!-- /.award-type_box -->
      </div><!-- /.award-type -->

      <div class="award-type">
        <div class="award-type_box">
          <div class="award-type_level">2 место</div><!-- /.award-type_level -->
          <div class="award-type_name">20 000 <ins class="rub">Р</ins></div><!-- /.award-type_name -->
          <div class="award-type_info">На личный счёт в системе</div><!-- /.award-type_info -->
        </div><!-- /.award-type_box -->
      </div><!-- /.award-type -->

      <div class="award-type">
        <div class="award-type_box">
          <div class="award-type_level">3 место</div><!-- /.award-type_level -->
          <div class="award-type_name">10 000 <ins class="rub">Р</ins></div><!-- /.award-type_name -->
          <div class="award-type_info">На личный счёт в системе</div><!-- /.award-type_info -->
        </div><!-- /.award-type_box -->
      </div><!-- /.award-type -->
    </div><!-- /.awards-list -->

  </div><!-- /.landing_wrapper -->
</div><!-- /.landing -->
